<h1 class="main-heading">Skills</h1>

<hr class="featurette-divider">

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/aws_logo.jpg" alt="AWS" width="140" height="140">
    <h2 id="AWS">Amazon Web Services</h2>
    <h3>Description</h3>
    <hr>
    <p>Amazon Web Services is a subsidiary of Amazon that provides on-demand cloud computing platforms to individuals,
      companies and governments, on a metered pay-as-you-go basis. AWS also provides dynamic scaling to help save money.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I have used AWS to create EC2 instances and host applications on the EC2 servers. I have also used AWS kubernetes
      to host applications that make connections outisde of the VPC and connect them to services inside of the VPC.</p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned the basics of AWS infrastructre. I also learned how to have zero downtime deployments with kubernetes.
    </p>
    <br>
    <p>I am an AWS certified cloud practitoner</p>
    <img src="../../assets/images/AWS_Certified_Logo_SAA_1176x600_Color.png" alt="AWS certified" width="50%">
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/Kubernetes.png" alt="Docker" width="140" height="140">
    <h2 id="kubernetes">Kubernetes</h2>
    <h3>Description</h3>
    <hr>
    <p>Kubernetes is an open-source container orchestration system for automating application deployment, scaling, and
      management. It was originally designed by Google, and is now maintained by the Cloud Native Computing Foundation.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p> to deploy applications with zero downtime used kubernetes to scale my applications dynamically.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to deploy applications with docker containers in a way that will have zero downtime.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/concourse.png" alt="Docker" width="140" height="140">
    <h2 id="Concourse">Concourse</h2>
    <h3>Description</h3>
    <hr>
    <p>Concourse is an open-source continuous thing-doer.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Concourse to build pipelines that would automatically deploy and test my applications.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to build a robust pipeline that would automatically trigger on a GIthub commit. The PIpeline would
      then run code quality checks against SonarQube, after that the pipeline would build, deploy, and test the deployed
      app.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/jenkins.png" alt="Docker" width="140" height="140">
    <h2 id="Jenkins">Jenkins</h2>
    <h3>Description</h3>
    <hr>
    <p>Jenkins is a free and open source automation server. Jenkins helps to automate the non-human part of the software
      development process, with continuous integration and facilitating technical aspects of continuous delivery. It is
      a server-based system that runs in servlet containers such as Apache Tomcat
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Jenkins to pipelines that would automatically deploy and test my applications.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to build a robust pipeline that would automatically trigger on a GIthub commit. The PIpeline would
      then run code quality checks against SonarQube, after that the pipeline would build, deploy, and test the deployed
      app.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/android.png" alt="Docker" width="140" height="140">
    <h2 id="Android">Android</h2>
    <h3>Description</h3>
    <hr>
    <p>Android software development is the process by which new applications are created for devices running the Android
      operating system. Google states that "Android apps can be written using Kotlin, Java, and C++ languages" using the
      Android software development kit, while using other languages is also possible.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I wrote an Android app <a
        href="https://play.google.com/store/apps/details?id=com.senecio.blankapplication3">Public Places</a> which is an
      app that utilizes ARCore to locate near by public places in
      augmented reality.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to create an Android app that can do navigation using Map Box, makes service calls, has a
      connection to a database, logs usage data to help improve the app, and use ARCore to do augmented reality.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/Angular_full_color_logo.svg.png"
      alt="Generic placeholder image" width="140" height="140">
    <h2 id="angular">Angular</h2>
    <hr>
    <p>Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a
      community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Angular to create multiple SPAs this site being one of them. I have used angular to write more complex
      sites with multple backend services and buissness logic.</p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to create a SPA in angular using HTML, CSS, and Javascript. I have learned how to utilize angular
      specific tools like angular routing and services to help modulize and increase the speed of the site.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/Java.jpg" alt="Docker" width="140" height="140">
    <h2 id="Java">Java</h2>
    <h3>Description</h3>
    <hr>
    <p>Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few
      implementation dependencies as possible.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Java to write back-end services that, made connections to databases such as PostgreSQL. I used Java to
      produce and consume multiple APIs. I used threads to speed up API calls and increase efficency of the app.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to produce and consume APIs in Java as well as how to look at code and improve the performance of
      the app.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/Ruby.jpg" alt="Docker" width="140" height="140">
    <h2 id="Ruby">Ruby
    </h2>
    <h3>Description</h3>
    <hr>
    <p>Ruby is an interpreted, high-level, general-purpose programming language. It was designed and developed in the
      mid-1990s by Yukihiro "Matz" Matsumoto in Japan. Ruby is dynamically typed and uses garbage collection.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Ruby to write automated tests to test the back-end services that my team owned. I did this using rest
      calls to make sure that they were returning what they were supposed to.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to write automated tests as well as how to identify test cases to make sure that you are testing
      the most important parts of the application.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/Python.png" alt="Docker" width="140" height="140">
    <h2 id="Python">Python
    </h2>
    <h3>Description</h3>
    <hr>
    <p>Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first
      released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant
      whitespace.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Python to write scripts to transfer data from one database to another. I have also used Python to write a
      website using the Django framework. I used Python and the opencv library to use machine learning to do image
      comparison.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to write scripts and save logs for data retension. I also learned how to host a server side site
      using Django. Finally I learned how to do image comparison using the opencv library.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/nodejs.png" alt="Docker" width="140" height="140">
    <h2 id="Node.js">Node.js
    </h2>
    <h3>Description</h3>
    <hr>
    <p>Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside
      of a browser.
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used Node.js to write scripts to transfer data from one database to another. I have also used Node.js to write
      a discord bot so that I can play music in my discord server. THe bot is also able to be controlled by voice
      commands.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to write scripts and save logs for data retension. I also learned how to build a discord bot that
      helps keep my discord server clean and play music into the voice chat.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/go.jpg" alt="Docker" width="140" height="140">
    <h2 id="Go">Go
    </h2>
    <h3>Description</h3>
    <hr>
    <p>Go, also known as Golang, is a statically typed, compiled programming language designed at Google by Robert
      Griesemer, Rob Pike, and Ken Thompson. Go is syntactically similar to C, but with memory safety, garbage
      collection, structural typing, and CSP-style concurrency
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used go to write an integration that would take data from Apigee and feed it into New Relic so that we could
      monitor API traffic and errors in New Relic.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to write Go and how to make a New Relic integration. The integration used service calls to Apigee
      and New Relic and used New Relic libraries.</p>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
    <img class="rounded-circle" src="../../assets/images/C++.png" alt="Docker" width="140" height="140">
    <h2 id="C++">C++
    </h2>
    <h3>Description</h3>
    <hr>
    <p>C++ is a general-purpose programming language created by Bjarne Stroustrup as an extension of the C programming
      language, or "C with Classes".
    </p>
    <h3>How I used it</h3>
    <hr>
    <p>I used C++ for 3 years while in college for school projects. I also used C++ to create a gamue in Unreal Engine
      4.
    </p>
    <h3>What I learned</h3>
    <hr>
    <p>I learned how to write apps in C++ that used complex compnents of C++ such as pointers and doubly likned lists. I
      learned how to work with more complex data objects such as trees. I learned how to perform complex actions such as
      sorts and searches on trees and othe rdata types.</p>
  </div>
</div>